###############################################################################
# Normalize line endings
###############################################################################

* text=auto eol=lf

###############################################################################
# Source Code
###############################################################################

*.java          text
*.kt            text
*.ts            text
*.js            text
*.html          text
*.css           text
*.scss          text
*.xml           text
*.json          text
*.properties    text
*.sql           text

###############################################################################
# Documentation
###############################################################################

*.md            text
*.rst           text
*.txt           text

###############################################################################
# YAML
###############################################################################

*.yml           text
*.yaml          text

###############################################################################
# Images
###############################################################################

*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.svg           text

###############################################################################
# Office
###############################################################################

*.pdf           binary
*.pptx          binary
*.docx          binary
*.xlsx          binary

###############################################################################
# Archives
###############################################################################

*.zip           binary
*.7z            binary
*.gz            binary
*.tar           binary

###############################################################################
# Executables
###############################################################################

*.jar           binary
*.war           binary
*.exe           binary
