###############################################################################
# Java
###############################################################################

target/
*.class

###############################################################################
# Maven
###############################################################################

# .mvn/wrapper/maven-wrapper.jar

###############################################################################
# IntelliJ IDEA
###############################################################################

.idea/
*.iml

###############################################################################
# VS Code
###############################################################################

.vscode/

###############################################################################
# Eclipse
###############################################################################

.project
.classpath
.settings/

###############################################################################
# Node
###############################################################################

node_modules/

###############################################################################
# Angular
###############################################################################

.angular/
dist/
coverage/

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Operating System
###############################################################################

.DS_Store
Thumbs.db

###############################################################################
# Environment
###############################################################################

.env
.env.*
!.env.example

###############################################################################
# Temporary
###############################################################################

tmp/
temp/


# CERTIFICADOS
backend/certificados/*